<div class="container">
  <section class="row">
    <div class="col-lg-offset-11" style="width: 50%;">
      <button class="btn btn-danger" *ngIf="auth" (click)="onSignOut()">Se déconnecter</button>
      <span class="badge badge-primary badge-pill" style="margin-left: 5px; background-color: #5c0002">{{secondes}}</span>
    </div>
    <h2>Mes appareils</h2>
    <p>Mise à jour : {{ lastUpdate | date: 'd/M/y -- HH:mm:ss' }}</p>
    <ul class="list-group">
      <app-appareil *ngFor="let appareil of appareils; let i = index"
                    [appareilName]="appareil.name"
                    [appareilStatus]="appareil.status"
                    [index]="i"
                    [ident]="appareil.id"></app-appareil>
    </ul>
    <button class="btn btn-success"
            (click)="onAllumer()">Tout allumer
    </button>
    <button class="btn btn-danger"
            style="margin-left: 5px"
            (click)="onEteindre()">Tout Eteindre
    </button>
    <div style="margin-top: 20px;"></div>
  </section>
</div>


