<ul class="list-group">
  <li class="list-group-item" *ngFor="let user of users">
    <h3 class="h3">{{user.firstName}} {{user.lastName}}</h3>
    <p>{{user.email}}</p>
    <p>Ses préférences en matière de boisson : {{user.drinkPreference}}</p>
    <p *ngIf="user.hobbies && user.hobbies.length > 0">
      Cette personne a comme hobbies:
      <ul class="list-group" *ngFor="let hobby of user.hobbies">
        <li class="list-group-item">- {{hobby}}</li>
      </ul>
  </li>
  <button class="btn btn-default" style="margin-top: 5px;" routerLink="/new-user">Nouvel Utilisateur</button>
</ul>
